<!DOCTYPE html>
<html>
<head>
	<title>EQcalc</title>
</head>

<!-- <h1>{{equations}}</h1> -->
<!-- <div>
	<form form = 'eqform' method = 'POST' action="">
		{% csrf_token %}
		<select name = 'eqform'>
			{% for eq in equations %}
			{% if eq.inversion == 1 %}
				{{eq}}
				<option value ='{{eq.name}}'> {{eq.name}} </option>
			{% endif %}
			{% endfor %}

		</select>
		<input type="hidden" name="pag" value="POst">
		<input type='submit' name='submit'>
	</form>

</div>
 -->
<!-- <div>
	
	<h1>{{form}}</h1>
	<h1>{{eqout}}</h1>
</div> -->
		
		{% for eq in equations %}
		{% if eq.inversion == 1 %}
			
			<a href ='/{{eq.formulaID}}'> {{eq.name}} </a><br>
		{% endif %}
		{% endfor %}
		


<body>
{% block content %}
{% endblock %}
</body>
</html>