<!-- <!DOCTYPE html>
<html>
<head>
	<title>Select Formula</title>
</head>
<body>
	<header>
		<h1>Select Formula</h1>
	</header>

<div>
	<ul>
		<li><h3><a href="/first"> v_f = v_i + a*t </a></h3></li>
		<li><h3><a href="/second"> x_f=x_0+v_0*t+0.5*a*t^2 </a></h3></li>
		<li><h3><a href="/?eq=third"> v_f^2=v_0^2+2*a*(x_f-x_0) </a></h3></li>

</div>



</body>
</html> -->
{% extends 'base.html' %}


{% block content %}
	<h1>Index {{context}}</h1>

<div>

	{% for eq in eqlist%}
		<a href="/{{eq.formulaID}}/{{eq.inversion}}">{{eq.name}}</a>
	{% endfor %}

	<br>
	<br>

	{% for inv in invlist%}
		{{inv.name}}
	{% endfor %}


</div>

<div>
	<form form = 'eqform' method = 'GET'>
		<!-- {% csrf_token %} -->
		<input type="number" name="1"><br>
		<input type="number" name="2"><br>
		<input type="number" name="3"><br>
		<input type="hidden" name="formulaID" value="{{invlist.0.formulaID}}">
		<input type="hidden" name="inversion" value="{{invlist.0.inversion}}">
		<input type="submit" name="submit">
	</form>

</div>


<h1>{{eq}}</h1>
<h1>{{values}}</h1>
<h1>{{result}}</h1>
<h1>{{one}}</h1>
{% endblock %}