
{% extends 'base.html' %}


{% block content %}

<div class='list'>
	<h1>Choose Paramater To Solve For</h1>
	<ul>
	{% for eq in eqlist%}
		<li><a href="/{{eq.formulaID}}/{{eq.inversion}}">{{eq.name}}</a></li>
	{% endfor %}
	</ul>
	

</div>

{% if invlist|length %}

<div class='submit'>
	<form form = 'eqform' method = 'GET'>
		<!-- {% csrf_token %} -->
		<h2>Input Values</h2>
		<h3>Solving for {{invlist.0.param}}</h3>

		<input type="number" name="1" required = 'required'><br>
		<input type="number" name="2" required = 'required'><br>
		
		

		<input type="hidden" name="formulaID" value="{{invlist.0.formulaID}}">
		<input type="hidden" name="inversion" value="{{invlist.0.inversion}}">
		<input type="submit" name="submit">
	</form>

</div>
{% endif %}

{% if result %}

<div class = 'result'>

	<h2>Result</h2>

	<h2>{{invlist.0.param}} = {{result}}</h2>

</div>
{% endif %}
{% endblock %}